<?xml version="1.0" encoding="utf-8"?>
<!--
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="Insert" key="appKey0" value="app Key Value 0" />
  </appSettings>
  <appSettings xdt:Transform="Insert">
    <add key="appKey0" value="app Key Value 0" />
  </appSettings>
</configuration>
-->

<!-- Insert appSettings section Example 
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Insert">
    <add key="appKey0" value="app Key Value 0" />
  </appSettings>
</configuration>
-->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="InsertAfter(/configuration/appSettings)">
    <add name="ConnectionString1" connectionString="metadata=res://*/MDB.csdl|res://*/MDB.ssdl|res://*/MDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BRB-PC;initial catalog=MDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>