<?xml version="1.0" encoding="utf-8"?>
<!--
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="Insert" key="appKey0" value="app Key Value 0" />
  </appSettings>
  <appSettings xdt:Transform="Insert">
    <add key="appKey0" value="app Key Value 0" />
  </appSettings>
</configuration>
-->

<!-- Insert appSettings section Example 
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Insert">
    <add key="appKey0" value="app Key Value 0" />
  </appSettings>
</configuration>
-->

<!-- Insert connectionString sectino after appSettings 
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="InsertAfter(/configuration/appSettings)">
    <add name="ConnectionString1" connectionString="metadata=res://*/MDB.csdl|res://*/MDB.ssdl|res://*/MDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BRB-PC;initial catalog=MDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
-->

<!-- Insert connectionString sectino before appSettings 
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="InsertBefore(/configuration/appSettings)">
    <add name="ConnectionString1" connectionString="metadata=res://*/MDB.csdl|res://*/MDB.ssdl|res://*/MDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BRB-PC;initial catalog=MDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
-->

<!-- Replace Endpoint 
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <endpoint xdt:Transform="Replace" address="http://myDomain.com/local/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="MyService.IService1"
        name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
</configuration>
-->

<!-- Remove configuration -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="Remove" />
  </appSettings>
</configuration>

