<?xml version="1.0" encoding="utf-8"?>
<!--
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="Insert" key="appKey0" value="app Key Value 0" />
  </appSettings>
  <appSettings xdt:Transform="Insert">
    <add key="appKey0" value="app Key Value 0" />
  </appSettings>
</configuration>
-->

<!-- Insert appSettings section Example 
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Insert">
    <add key="appKey0" value="app Key Value 0" />
  </appSettings>
</configuration>
-->

<!-- Insert connectionString sectino after appSettings 
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="InsertAfter(/configuration/appSettings)">
    <add name="ConnectionString1" connectionString="metadata=res://*/MDB.csdl|res://*/MDB.ssdl|res://*/MDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BRB-PC;initial catalog=MDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
-->

<!-- Insert connectionString sectino before appSettings 
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="InsertBefore(/configuration/appSettings)">
    <add name="ConnectionString1" connectionString="metadata=res://*/MDB.csdl|res://*/MDB.ssdl|res://*/MDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BRB-PC;initial catalog=MDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
-->

<!-- Replace Endpoint 
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <endpoint xdt:Transform="Replace" address="http://myDomain.com/local/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="MyService.IService1"
        name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
</configuration>
-->

<!-- Remove appSettings configuration 
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Remove">
  </appSettings>
</configuration>
-->

<!-- Remove specific appKey from appSettings configuration -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add  xdt:Transform="Remove" key="appKey2" />
  </appSettings>
</configuration>


<!-- Remove appKey from appSettings configuration 
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add  xdt:Transform="Remove"/>
  </appSettings>
</configuration>
-->

<!-- Remove all appKey from appSettings configuration 
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add  xdt:Transform="RemoveAll"/>
  </appSettings>
</configuration>
-->

<!-- Remove attribute  
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
-->

<!-- Set attribute  
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes(connectionString)" name="ConnectionString1" connectionString="Test connectionstring" providerName="NewProviderName" />
  </connectionStrings>
</configuration>
-->

<!-- Using Locators: Match 
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <endpoint xdt:Locator="Match(contract)" contract="MyService.IService2" xdt:Transform="SetAttributes(bindingConfiguration)" bindingConfiguration="BasicHttpBinding_IService3"/>
    </client>
  </system.serviceModel>
</configuration>
-->

<!-- Using Locators: Condition 
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <endpoint xdt:Locator="Condition(@contract='MyService.IService2' or @bindingConfiguration='BasicHttpBinding_IService1')" xdt:Transform="SetAttributes(bindingConfiguration)" bindingConfiguration="BasicHttpBinding_IService3"/>
    </client>
  </system.serviceModel>
</configuration>
-->