<?xml version="1.0"?>
<!-- Insert app key Example
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
   
  <appSettings>
  </appSettings>
</configuration>
-->

<!-- Insert appSettings section Example 
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
-->

<!-- Insert connectionstring section after and Before appSettings section Example 
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
   
  <appSettings>
  </appSettings>
</configuration>
-->

<!-- Replace Endpoint 
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <appSettings>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:62822/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="MyService.IService1"
        name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
</configuration>
-->

<!-- Remove appSettings configuration -->
<!-- Remove appKey from appSettings configuration -->
<!-- Remove specific appKey from appSettings configuration -->
<!-- Remove all appKey from appSettings configuration -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <appSettings>
    <add key="appKey1" value="app Key Value 1" />
    <add key="appKey2" value="app Key Value 2" />
    <add key="appKey3" value="app Key Value 3" />
  </appSettings>
</configuration>


<!-- Remove attribute 
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <connectionStrings>
    <add name="ConnectionString1" connectionString="metadata=res://*/MDB.csdl|res://*/MDB.ssdl|res://*/MDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BRB-PC;initial catalog=MDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>
-->


<!-- Using Locators 
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpBinding_IService2" />
        <binding name="BasicHttpBinding_IService3" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:62822/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="MyService.IService1"
        name="BasicHttpBinding_IService1" />
      
      <endpoint address="http://localhost:62822/Service2.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService2" contract="MyService.IService2"
        name="BasicHttpBinding_IService1" />
      
      <endpoint address="http://localhost:62822/Service3.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService3" contract="MyService.IService1"
        name="BasicHttpBinding_IService1" />
      
      <endpoint address="http://localhost:62822/Service4.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService2" contract="MyService.IService2"
        name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
</configuration>
-->




