<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    
    <authorization>
      <allow roles="SuperUser"
        xdt:Transform="InsertAfter(/configuration/system.web/authorization/deny)" />
      <allow roles="weakUser"
        xdt:Transform="SetAttributes(lockItem)" lockItem="true" users="user1" />
      
    </authorization>
    
  </system.web>

  <connectionStrings>
    <add xdt:Transform="Replace" name="MDBContainer" connectionString="metadata=res://*/MDB.csdl|res://*/MDB.ssdl|res://*/MDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RELEASESERVER;initial catalog=MDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="AWLT" connectionString="newstring"
       providerName="newprovider"
       xdt:Transform="Replace"
       xdt:Locator="XPath(configuration/connectionStrings[@name='AWLT'
         or @providerName='System.Data.SqlClient'])" />-->
  </connectionStrings>

  <appSettings>
    <add xdt:Transform="Remove" />
    <add xdt:Transform="Insert" key="appKey0" value="app Key Value 0" />
    <add xdt:Transform="InsertBefore(/configuration/appSettings/add)" key="appKey0.5" value="app Key Value 0.5" />
    <add xdt:Locator="Condition(@key='oldKey')" xdt:Transform="Replace" key="newKey" value="2" />
    <!--<add xdt:Transform="RemoveAll" />-->
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding xdt:Transform="Replace" name="MyNewBinding" />
        <binding xdt:Locator="Match(name)" xdt:Transform="Replace" name="name1" openTimeout="00:00:10" />
      </basicHttpBinding>
    </bindings>
    <client xdt:Transform="Replace">
      <endpoint address="http://productionEnvironment.com/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="MyNewBinding" contract="MyService.IService1"
        name="MyNewBinding" />
    </client>
  </system.serviceModel>
 
</configuration>